<div bsModal #groupModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="modalOptions">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Choose or create Group</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-8">
            <label class="col-sm-4">Select existing group</label>
            <ng-selectize class="col-sm-4" [config]="ngSelectOptions" [options] = "groups" [(ngModel)]="selectedGroup"
                          [disabled]="!groups" placeholder="Select Group">
            </ng-selectize>
            <button type="button" class="btn btn-primary pull-right" (click)="setGroup()"
                    [disabled]="!selectedGroup" aria-label="Submit">Choose Group</button>
          </div>
        </div>
        <hr>
        <div>
          <div class="row">
            <h3 style="align-content: left">Create and use group</h3>
          </div>
          <form  #groupForm="ngForm">
            <div class="form-group row">
              <label for="group_name">Group Name</label>
              <input type="text" name="group_name" #group_name ngModel required>
              <label for="group_email">Group Email</label>
              <input type="email" name="group_email"
                     required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                     #group_email ngModel>
              <button class="btn btn-default" [disabled]="groupForm.invalid" (click)="createNUse(groupForm.value)">Create Group</button>
            </div>
          </form>
        </div>
        <div class="row">
        </div>
          </div>
    </div>
  </div>
</div>

