.alert-danger .btn-danger {
  float: right;
}

.alert-danger span {
  line-height: 34px;
}

.alert-danger > div:after {
  clear: both;
  content: '';
  display: table;
}

.alert-success .btn-success {
  float: right;
}

.alert-success span {
  line-height: 34px;
}

.alert-success > div:after {
  clear: both;
  content: '';
  display: table;
}
