<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="profiles_info"><a href="#/profiles"><i class="fa fa-wrench fa-fw"></i> Profiles &amp; Parameters</a></li>
            <li class="data_loader_info"><a href="#/dataloader"><i class="fa fa-cloud-upload fa-fw"></i> Data Loader</a></li>
            <li class="data_fetcher_info"><a href="#/datafetcher"><i class="fa fa-cloud-download fa-fw"></i> Data Fetcher</a></li>
            <li class="data_mover_info"><a href="#/datamover"><i class="fa fa-copy fa-fw"></i> Data Mover</a></li>
            
            
            <li class="workflow_manager_info"><a href="#/manager"><i class="fa fa-gears fa-fw"></i> Workflow Manager</a></li>
            <li class="optimus_groups_info"><a href="#/groups"><i class="fa fa-group fa-fw"></i> User Groups</a></li>
            <li class="dashboard_info"><a href="#/"><i class="fa fa-dashcube fa-fw"></i> Dashboard</a></li>
            <li class="assistant_info"><a href="#/assistant"><i class="fa fa-user fa-fw"></i> Assistant</a></li>
            <li class="sqlprime_info"><a href="#/sqlprime"><i class="fa fa-table fa-fw"></i> SQL Prime</a></li>
        </ul>
    </div>
</div>
