<div id="exTab1" class="container">
  <ul class="nav nav-tabs">
    <li role="presentation" [ngClass]="{'active': activeTab=='info'}"><a (click)="setViewTab('info')">INFO</a></li>
    <li role="presentation" [ngClass]="{'active': activeTab=='stdout'}"><a (click)="setViewTab('stdout')">STDOUT</a></li>
    <li role="presentation" [ngClass]="{'active': activeTab=='stderr'}"><a (click)="setViewTab('stderr')">STDERR</a></li>
  </ul>
  <div class="control-panel">
    <label style="float: left;"><strong>Action:</strong></label>
    <button class="btn btn-default" (click)="killInstance()" [disabled]="instance?!instance.isKillable():true">
      Kill <span class="glyphicon glyphicon-stop"></span>
    </button>
    <button class="btn btn-default" (click)="restartInstance()" [disabled]="instance?!instance.isRerunnable():true">
      Rerun<span class="glyphicon glyphicon-repeat"></span>
    </button>
    <button class="btn btn-default" (click)="forceFinish()" [disabled]="instance?!instance.isForceFinishable():true">
      Force Finish<span class="glyphicon glyphicon glyphicon-off"></span>
    </button>
    <button class="btn btn-primary" (click)="refreshData()">Refresh<span class="glyphicon glyphicon-refresh"></span></button>
  </div>
  <div class="tab-content clearfix">
    <div class="tab-pane pull-left log-component" [ngClass]="{'active': activeTab=='stdout'}" *ngIf="activeTab=='stdout'">
      {{stdout}}
    </div>
    <div class="tab-pane pull-left log-component" [ngClass]="{'active': activeTab=='stderr'}"  *ngIf="activeTab=='stderr'">
      {{stderr}}
    </div>
    <div class="tab-pane pull-left" *ngIf="activeTab=='info'" [ngClass]="{'active': activeTab=='info'}">
      <table class="table-fill" *ngIf="instance">
        <tbody class="table-hover">
        <tr>
          <td class="text-left">JobName</td>
          <td class="text-left">{{instance.jobName}}</td>
        </tr>
        <tr>
          <td class="text-left">Trigger</td>
          <td class="text-left">{{instance.triggerName}}</td>
        </tr>
        <tr>
          <td class="text-left">StartTime</td>
          <td class="text-left">{{instance.startTime}}</td>
        </tr>
        <tr>
          <td class="text-left">EndTime</td>
          <td class="text-left">{{instance.endTime}}</td>
        </tr>
        <tr>
          <td class="text-left">Status</td>
          <td class="text-left">{{instance.statusName()}}</td>
        </tr>
        <tr>
          <td class="text-left">Message</td>
          <td class="text-left">{{instance.message}}</td>
        </tr>
        <tr>
          <td class="text-left">Sequence Id</td>
          <td class="text-left">{{instance.seqId}}</td>
        </tr>
        <tr>
          <td class="text-left">Exit Code</td>
          <td class="text-left">{{instance.returnCode}}</td>
        </tr>
        <tr>
          <td class="text-left">Agent</td>
          <td class="text-left">{{instance.agent}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
