<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0;
    background-color: black;
    position: absolute">
  <div class="row">
    <div class="navbar-header">
        <a class="navbar-brand header-component" style="color: white;" href="/#/">Valkyrie</a>
    </div>
    <div class="dropdown pull-right header-component" *ngIf="getCurrentGroupName()">
      <strong class="navbar-header" style="line-height: 2.4">Current Group:</strong>
      <button class="btn btn-default" (click)="show()">{{getCurrentGroupName()}}</button>
    </div>
  </div>
</nav>
