<div>
  <div>
    <div class="col-sm-1 ctrl-panel">
      <a href="#/job/new" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        Job
      </a>
    </div>
  </div>
  <div>
  <table datatable="ng" class="row-border hover">
    <thead>
    <tr>
      <th class="sorting_disabled">JobName</th>
      <th class="sorting_disabled">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of rows">
      <td>{{item.name}}</td>
      <td>{{item.desc}}</td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
